.header {
  background: #fff;
  height: 54px;
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.header__content {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  height: 54px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__content--input input {
  height: 20px;
  width: 200px;

  text-align: center;

  border: 1px solid #dbdbda;
  border-radius: 3px;
  font-weight: 200px;

  background-color: #fafafa;
}
.header__content--icon {
  display: flex;
}
.header__content--icon img {
  margin: 8px;
  cursor: pointer;
}

.header__content--icons img {
  margin: 0 5px;
}
.dropdown-user img {
  margin-right: 10px;
}

.dropdown-user .avatar {
  width: 25px;
  height: 25px;
}

.dropdown-user {
  position: relative;
}
.dropdown-user:hover .user-content {
  display: block;
}
.user-content {
  position: absolute;
  left: -90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  display: none;
  width: 200px;
}

.user-content div {
  display: flex;
  align-items: center;
  /* margin: 10px 0px; */
  cursor: pointer;
  padding: 5px 20px;
}

.user-content div:hover {
  background: #ddd;
}

/* Responesive */
@media (max-width: 792px) {
  .header__content {
    max-width: 580px;
  }
}
@media (max-width: 500px) {
  .header__content {
    max-width: 400px;
  }
}
